@{
    Layout = "~/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <!--Single Statement Blocks-->
        @{ var total = 7;}
        @{ var myMessage = "Hello World";}

        <!--In-line Expression-->
        <p>The value of your account is: @total</p>
        <p>The value of my message is: @myMessage</p>
        <p>adding line of code</p>

        <!--Multi-Line Block-->
        @{ var greeting = "Welcome to our Site!";
            var weekDay = DateTime.Now.DayOfWeek;
            var greetingMessage = greeting + "Today is: " + weekDay;
         }

        @{ 
            var outsideTemp = 79;
            var weathMessage = "Hello, it is " + outsideTemp + " degrees.";
            <p>Today's Weather: @weathMessage</p>
        }
        <p>Welcome to all new members. @greetingMessage</p>

        <!--Embedding Escape Characters-->
        @{ 
            var myFilePath = @"C:\MyFolder\";
            <p>The file path is @myFilePath</p>

            var myQuote = @"""To be or not to be""";
            <p>My Quote = @myQuote</p>
        }


        <table border="1">
            <tr>
                <td>Request URL</td>
                <td>Relative Path</td>
                <td>Full Path</td>
                <td>HTTP Request Type</th>
            </tr>
            <tr>
                <td>@Request.Url</td>
                <td>@Request.FilePath</td>
                <td>@Request.MapPath(Request.FilePath)</td>
                <td>@Request.RequestType</td>
            </tr>
        </table>
    </body>
</html>
